.input:focus {
    outline: 1px solid #D1D1D1;

}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.superInput {
}

.errorInput {
    border-color: #CC1439;
}

.errorInput:focus {
    outline-color: #cc0000;
}

.error {
    font-size: 10px;
    color: #CC1439;
}
