.select {
    width: 165px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding-left: 16px;
    color: #A9A9A9;
}

.select:focus {
}


.option:hover {
}
